<br>
<footer class="text-white my-4 bg-dark">
    <div class="container">
        <section class="py-5">
            <div class="row justify-content-around">
                <!--LEFT COLUME-->
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <p>Follow Us</p>
                </div>
                <!--RIGHT COLUME-->
                <div class="col-xs-12 col-sm-8 col-md-10">
                    <span class="px-2"><a href="#"><i class="bi bi-facebook"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-twitter"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-whatsapp"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-instagram"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-google"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-youtube"></i></span></a>
                    <span class="px-2"><a href="#"><i class="bi bi-linkedin"></i></span></a>
                </div>
            </div>
        </section>


        <div class="row justify-content-between py-5">
            <div class="col-xs-12 col-sm-6 col-md-3 py-3">
                <h5 class="text-decoration-underline">Company address</h5>
                <ul class="list-unstyled">
                    <li>Investment House</li>
                    <li> 21/25 Broad Street</li>
                    <li>Lagos</li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3  py-3">
                <h5 class="text-decoration-underline">Contact US</h5>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a href="#" class="text-decoration-none text-white">
                            <span class="text-danger">E:</span>ebenmalomo@yahoo.com
                        </a>
                    </li>

                    <li class="py-2">
                        <a href="#" class="text-decoration-none text-white">
                            <span class="text-danger">P:</span>+234 (0) 803714 3355
                        </a>
                    </li>

                    <li class="py-2">
                        <a href="#" class="text-decoration-none text-white">
                            <span class="text-danger">P:</span>+234 (0) 8057254369 
                        </a>
                    </li>

                </ul>
                
                

                

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3  py-3">
                <h5 class="text-decoration-underline">Working Hours</h5>
                <p>Our notaries are available 24 hours based upon availability</p>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <span class="text-danger">Weeks Day:</span>8am-7pm
                    </li>
                    <li class="py-2">
                        <span class="text-danger">Saturday:</span>8am-7pm
                    </li>
                    <li class="py-2">
                        <span class="text-danger">Sunday:</span>Closed
                    </li>
                </ul>
                

            </div>

            <div class="col-xs-12 col-sm-6 col-md-3  py-3">
                <h5 class="text-decoration-underline">Our Services</h5>
                <ul class="list-unstyled" >
                    <li class="py-2">
                        <a href="{% url 'services' %}#taxation"   class="text-decoration-none "><span class="text-danger">Taxation Service</span></a>
                    </li>
                    <li class="py-2">
                       <a href="{% url 'services' %}#audit"  class="text-decoration-none "><span class="text-danger">Audit</span></a>
                    </li>
                    <li class="py-2">
                       <a  href="{% url 'services' %}#informartion_system"  class="text-decoration-none "><span class="text-danger">Accounting & Management Information</span></a>
                    </li>
                    <li class="py-2">
                       <a href="{% url 'services' %}#advisory_service"  class="text-decoration-none "><span class="text-danger">Advisory Service</span></a>
                    </li>
                </ul>

            </div>
        </div>

         <div class="text-center py-3 text-white-50">
            <p><small>&copy; Copyright 2020. All Right Reserver</small></p>

         </div>

    </div>
</footer>





    